---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a82a2c8a9c6a51913fe064810ce45134
      X-Memc-Age:
      - '7719'
      X-Memc-Expires:
      - '15652'
      Etag:
      - W/"1a6c9dac9f53daecbcbcdeb9659ca181"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","belongs_to_collection":null,"budget":25000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":278,"imdb_id":"tt0111161","origin_country":["US"],"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":36.201,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","production_companies":[{"id":97,"logo_path":"/7znWcbDd4PcJzJUlJxYqAlPPykp.png","name":"Castle
        Rock Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1994-09-23","revenue":28341469,"runtime":142,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fear
        can hold you prisoner. Hope can set you free.","title":"The Shawshank Redemption","video":false,"vote_average":8.709,"vote_count":28004}'
  recorded_at: Mon, 31 Mar 2025 09:09:04 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 31 Mar 2025 09:09:04 GMT
recorded_with: VCR 6.3.1
